ruby/*.gem
ruby/*.rbc
ruby/.bundle
ruby/.config
ruby/.yardoc
ruby/InstalledFiles
ruby/_yardoc
ruby/coverage
ruby/doc/
ruby/lib/bundler/man
ruby/pkg
ruby/rdoc
ruby/spec/reports
ruby/tmp/*
ruby/config.rb
ruby/log/*
ruby/config/deploy.rb
ruby/config.rb
ruby/bin/stubs
chrome/bin/stubs
chrome/js/*
chrome/css/*

